* {
    background-color: rgb(250, 206, 124);
  }
  #root  div  h2{
    font-size: 30px;
    color: white;
    padding: 15px 15px;
    text-align:left;
    background-color: rgb(71, 70, 70);
  }
  #root  div  form  label{
    padding: 15px 15px 20px 20px;
    font-size: 25px;
    color: rgb(43, 42, 42);
   
  }
  input  {
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 25px;
    width: 333px;
    text-align:center;
  }
  #root > div > form > button{
    
    margin-left: 20px;
    height: 30px;
    width: 75px;
    border-radius: 5px;
   background-color: rgb(85, 83, 83);
   color: white;
   font-size: 15px;
   text-align:center;
  }
  img{
    width: 400px;
    height: 300px;
    margin-left: 20px;
    border-radius: 50% ;
    
  }
  #root  div  p{
    margin-left: 20px;
    font-size: 20px
    
  }